* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}

.container {
  width: 940px;
  margin: auto;
}

.header {
  height: 100vh;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #141A20;
  padding: 40px 0 70px;
  color: #fff;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__text {
  text-align: center;
}

.header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.header__subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 0;
}

.header__scroll-text {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.logo__image {
  width: 102px;
}

.logo-black__image {
  width: 80px;
}

.menu {
  padding: 24px 0;
  border-bottom: 1px solid #E6E6E6;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 410px;
}

.menu__item {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.09px;
  text-transform: uppercase;
}

.menu__item a {
  text-decoration: none;
  color: #48555B;
}

.menu__item a:hover {
  color: #00A4E5;
}

.about {
  padding: 60px 0 60px;
  margin-bottom: 60px;
}

.about__container {
  text-align: center;
}

.about__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  text-align: left;
}

.about__title {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  color: #48555B;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 80px;
}

.about__title::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: calc(50% - 25px);
  display: block;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
}

.about__text {
  width: 405px;
}

.about__subtitle {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1875px;
  color: #48555B;
  margin: 0 0 30px 0;
}

.about__subtitle span {
  color: #00a4e5;
}

.about__para {
  margin: 0;
}

.about__steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 459px;
}

.step {
  width: 140px;
  height: 224px;
  padding: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.step_1 {
  background-image: url(images/plan-bg.jpg);
}

.step_2 {
  background-image: url(images/manage-bg.jpg);
}

.step_3 {
  background-image: url(images/build-bg.jpg);
}

.capabilities {
  margin-bottom: 115px;
}

.capabilities__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.capabilities__subtitle {
  width: 460px;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555B;
}

.capabilities__title {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  color: #48555B;
  text-transform: uppercase;
  position: relative;
}

.capabilities__title::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  background-color: #00A4E5;
  width: 50px;
  height: 2px;
}

.capabilities__cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.button {
  background-color: #00A4E5;
  font-size: 13px;
  line-height: 15px;
  padding: 11px 29px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #0092cc;
}

.card {
  border: 1px solid #E6E6E6;
  padding: 38px 22px;
  width: 295px;
}

.card__image {
  height: 75px;
  margin-bottom: 25px;
}

.card__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.43px;
  color: #48555B;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.contact {
  background-image: url(images/contact-bg.jpg);
  padding: 120px 0 230px;
  background-size: cover;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555B;
  text-align: center;
  width: 450px;
  margin: 0;
  margin-bottom: 35px;
}

.contact__button {
  display: inline-block;
}

.newsletter {
  padding: 30px 0;
  background-color: #171819;
}

.newsletter__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 685px;
}

.newsletter__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.846px;
  color: #FFFFFF;
}

.form {
  display: flex;
  align-items: center;
}

.form__input {
  padding: 10px 16px 9px;
  border: none;
  border-radius: 0;
  margin: 0;
}

.footer {
  padding: 42px 0 50px;
  background-color: #141A20;
  color: #ffffff;
}

.footer__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__text {
  width: 250px;
}

.footer__title {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.85px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  margin-bottom: 19px;
}

.footer__subtitle {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 15px;
}

.footer__contact {
  width: 140px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846154px;
}

.footer__contact p {
  margin: 0;
  margin-bottom: 20px;
}

.footer__email {
  margin: 0;
}

.footer__socials {
  width: 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social {
  text-decoration: none;
  font-size: 0;
  display: block;
}

.links {
  width: 262px;
  height: 150px;
}

.links__title {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.85px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 19px;
  margin: 0;
  margin-bottom: 19px;
}

.links__items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.links__item {
  width: 75px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
}

.links__item a {
  text-decoration: none;
  color: #ffffff;
}

.links__item a:hover {
  color: #00a4e5;
}

.copywrite {
  background-color: #171819;
  padding: 22px 0;
  color: #ffffff;
}

.copywrite__container {
  text-align: center;
}

.copywrite a {
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .container {
    width: 700px;
  }
  body {
    font-size: 12px;
    line-height: 21px;
  }
  .header__title {
    font-size: 48px;
    line-height: 70px;
  }
  .about__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__title {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 18px;
  }
  .about__text {
    margin-bottom: 35px;
    text-align: center;
  }
  .about__subtitle {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .capabilities__subtitle {
    font-size: 10px;
    line-height: 16px;
    width: 300px;
  }
  .capabilities__title {
    font-size: 16px;
    left: 18px;
    width: 170px;
  }
  .button {
    padding: 10px 22px;
  }
  .card {
    width: 220px;
    padding: 30px 20px;
  }
  .card__image {
    height: 60px;
    margin-bottom: 15px;
  }
  .card__title {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .card__subtitle {
    margin: 0;
  }
  .contact {
    padding: 100px 0 200px;
  }
  .form__input {
    padding: 9px 16px 8px;
  }
  .links {
    width: 175px;
  }
  .footer__socials {
    width: 70px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 500px;
  }
  .header__title {
    font-size: 36px;
    line-height: 50px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 18px;
  }
  .menu__items {
    width: 400px;
  }
  .about {
    padding: 60px 0px 40px;
    margin-bottom: 40px;
  }
  .about__title {
    margin-bottom: 45px;
  }
  .about__text {
    width: 100%;
  }
  .about__steps {
    width: 100%;
  }
  .step {
    height: 180px;
  }
  .capabilities {
    margin-bottom: 75px;
  }
  .capabilities__subtitle {
    display: none;
  }
  .capabilities__title {
    width: 250px;
  }
  .capabilities__text {
    margin-bottom: 40px;
  }
  .card {
    width: 160px;
    padding: 20px 11px;
  }
  .card__image {
    height: 45px;
    margin-bottom: 12px;
  }
  .card__title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .card__subtitle {
    font-size: 11px;
    line-height: 18px;
  }
  .contact {
    padding: 80px 0 160px;
  }
  .contact__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .newsletter__title {
    font-size: 18px;
    line-height: 20px;
  }
  .form__input {
    width: 150px;
  }
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__text {
    width: 45%;
    margin-bottom: 50px;
  }
  .footer__links {
    width: 45%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 90%;
  }
  .header__title {
    font-size: 32px;
    line-height: 50px;
  }
  .menu__items {
    width: 80%;
  }
  .step {
    width: 32%;
  }
  .capabilities {
    margin-bottom: 40px;
  }
  .capabilities__cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 45%;
    margin-bottom: 20px;
  }
  .contact {
    padding: 60px 0px 180px;
  }
  .newsletter__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .newsletter__title {
    margin: 0;
    margin-bottom: 25px;
  }
  .form {
    width: 80%;
  }
  .form__input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-bottom: 90px;
  }
  .header__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  .header__subtitle {
    font-size: 12px;
    line-height: 16px;
  }
  .menu {
    padding: 18px 0;
  }
  .menu__logo {
    display: none;
  }
  .menu__items {
    width: 95%;
    padding: 0;
    margin: auto;
  }
  .menu__item {
    font-size: 10px;
    line-height: 12px;
  }
  .about {
    padding: 40px 0px 30px;
  }
  .about__title {
    margin-bottom: 35px;
  }
  .about__steps {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .step {
    width: 45%;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
  }
  .capabilities__text {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .capabilities__title {
    margin-bottom: 30px;
    margin-left: -35px;
    width: 100%;
  }
  .capabilities__title::after {
    left: calc(50% - 25px);
  }
  .card {
    width: 100%;
    padding: 25px 25px;
  }
  .contact {
    padding-top: 40px;
  }
  .contact__title {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .footer__text {
    width: 100%;
  }
  .footer__links {
    width: 100%;
  }
  .footer__address {
    width: 100%;
  }
  .links__items {
    width: 100%;
  }
  .links__item {
    width: 33%;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .menu {
    padding-bottom: 8px;
  }
  .menu__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu__item {
    width: 33%;
    margin-bottom: 10px;
    text-align: center;
  }
  .step {
    font-size: 12px;
    line-height: 18px;
    height: 150px;
  }
}
